@import url('https://fonts.googleapis.com/css?family=Numans');
html, body {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.card-login {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: white !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color:#007bff;
}

.social_icon span:hover {
  color: black;
  cursor: pointer;
}

.card-header h3 {
  color: black;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #007bff;
  color: white;
  border-top: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: black;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn:hover {
  outline: none;
}

.links {
  color: black;
}

.links a {
  margin-left: 4px;
}
@media only screen and (max-width: 350px){
  *{
    zoom: 95%;
  }
}
@media only screen and (min-width:350px) and (max-width: 450px){
  *{
    zoom: 95%;
  }
}
.input-group-prepend > span {
  display: inline-block !important;
}
