.headname{
  font: 3rem sans-serif;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-shadow: -2px -3px;
}

.hr{
  margin-left: -5%;
 
}
#responsible{
  font-weight: bold;
  font-size: 140%;
  margin: 5%;
  
}
