/* @media only screen and (min-width:350px) and (max-width: 450px){
  *{
    zoom: 30%;
  }
}
@media only screen and (max-width: 350px){
  *{
    zoom: 30%;
  }
} */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1040;
  width: 200vw;
  height: 200vh;
  background-color: #000;
}
