.datePicker{
    background-color: #2a435a;
    padding: 10px;
    border-radius: 10px;
}
.title{
    color: white;
    margin-bottom: 20px;
}
.title1{
    color: white;  
}
@media screen and (max-width:320px){
  .calendar{
    zoom: 80%;
  }
}
