.contentHomeUser{
  display: flex;
}
@media screen and (max-width:770px) {
  .contentHomeUser{
    display:block;
    align-items: center;
    position: relative;
  }
}
.modal-home {
  background-color: #F4F5F7;
}

.item-modal {
  font-size: 15px;
}