.image{
  width: 40px;
  height: 40px;
  transition: transform .2s;
  margin-top: 10px;
}

.image:hover{
  transform: scale(2.1);
}

.form{
  display: flex;
}

.text{
  margin-left: 20px;
  margin-top: 10px;
}
